@import url('https://fonts.googleapis.com/css?family=Lato');

/*=======================
Body Styles
===========================*/

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/*=======================
Header
===========================*/

  .header {
    background-color:#292f50;;
    display: flex;
    height: 13%;
    align-items: center;
    color: black;
  }

  h2, h4 {
      color: #ffffff;
  }

  .nav-bar {
      margin-left: auto;
      margin-right: 20px;
  }

  .search-field {
      margin-left: 20px;
      flex: 1 1 0;
  }

  .search-field input[type="text"] {
    width: 60%;
    height: 40px;
    box-shadow: none;
    box-sizing: border-box;
  }

  .dropdown {
      color: #ffffff;
  }
/*=======================
Body Container
===========================*/

  .container {
    height: 100%;
    background-color: #EFE9E7;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 80% 20%;
    grid-gap: 3px;
  }

  a {
      text-decoration: none;
      color: black;
  }


  .menu {
      width: 100%;
  }

  .content {
    background-color: #DAE0F2;
    color: black;
  }

  .footer {
    grid-column: 1 / -1;
    background-color: #292f50;
    text-align: center;
  }

  .copyright  {
      margin: 20px;
  }

  .compose {
      width: 80%;
      margin: 12px;
  }

  .compose a{
    border-radius: 5px;
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    background-color: green;
    padding: 10px;
  }


.menu-list ul li {
    display: block;
    padding: 10px;
    text-align: center;
    line-height: 40px;
}

.menu-list ul li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.menu-list ul li a:hover {
    opacity: 0.5;
    background-color: #DAE0F2;
}


.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background: #292f50;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 3px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

  .dropdown-content a {
    color: #ffffff;
    padding: 7px 9px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
      background: #2892D7;
  }

/*=======================
Forms
===========================*/

.form-box {
    margin: 10px auto 0 auto;
    width: 70%;
}

/*=======================
Buttons
===========================*/

button, .btn {
background-color: green;
color: white;
padding: 12px;
border: none;
cursor: pointer;
border-radius: 5px;
}

.draft-btn {
    display: none;
    background-color: green;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 40px;
}

.create-btn {
    margin-top: 5px;
}

button:hover {
    opacity: 0.8;
}

/*=======================
Inputs
===========================*/

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus textarea:focus {
  background-color: white;
}

label {
    display: block;
    margin-bottom: 4px;
}

/*=======================
Inbox, Sent, etc
===========================*/

.inbox-container {
    margin: 0 auto;
    width: 90%;
}

.inbox-container>ul {
    list-style-type: none;
}

.inbox-container>ul>li {
    line-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.inbox-container>ul>li:hover {
  opacity: 0.7;
}

.inbox-container>ul>li:hover>button {
    display: inline;
}

/*=======================
Profile Page
===========================*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 20px auto 10px auto;
    text-align: center;
  }

  .card>img {
      margin-top: 10px;
      width: 50%;
      height: 60%;
      border-radius: 50%;
  }

  .card>form {
      margin-top: 10px;
  }


 /*=======================
Modal Style
===========================*/
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 25%;
    width: 60%; 
    height: 65%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    border-radius: 15px;
  }
    
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #EFE9E7;
    margin: 10px auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 15px;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-500px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
  }
  
  .modal-body {
      padding: 2px 16px;
    }

.modal-body h2 {
    color: black;
    text-align: center;
}
  
  .modal-footer {
    padding: 2px 16px;
    color: white;
  }

/*=======================
Signup & Signin Page
===========================*/
.form-container {
    margin: 0 auto;
    width: 60%;
    height: 77%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    color: black;
    background-color: #DAE0F2;
}


.form-title {
    margin-bottom: 30px;
    color: #2892D7;
}

.form-title h2 {
    color: #2892D7;
}

footer {
    background-color: #292f50;
    text-align: center;
    height: 10%;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .form-paragraph {
      margin-top: 10px;
  }
  .form-paragraph em {
      margin-left: 4px;
      color: #2892D7;
  }

  .form-paragraph em a {
    color: #2892D7;
  }

/*=======================
Media Queries
===========================*/
@media only screen and (max-width: 560px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 20px auto 10px auto;
    text-align: center;
  }

  .card>img {
      margin-top: 10px;
      width: 60%;
      height: 60%;
      border-radius: 50%;
  }


}