* {
    margin: 0;
    font-family: Arial, Helvetica,sans-serif;
}

.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100% 100%;
}

.header {
    display: flex;
    background-color: #893168;
    color: #ffffff;
    /* height: 100px; */
    /* display: inline-block; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    /* justify-content: space-between; */
    align-items: center;
}

/* .box {
    width: 33.3%;
} */

/* .nav-logo {
    flex-grow: 1;
} */

/* .nav-bar {
    margin-left: auto;
} */

.logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
}

.nav-links {
    /* margin-left: auto; */
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
}

.search-field {
    flex: 1;
    margin-left: 10px;
}

/* 
  .input-search-field {
    display: flex;
    width: 100% 
}   */


.header a {
    text-decoration: none;
    /* display: inline-block; */
}

.header a:hover {
    opacity: 0.5;
    background-color: rgba(60, 14, 230, 0.904);
    border-radius: 10px;
}

.menu {
    grid-column: 1 / 2;
    margin-top: 10px;
    text-align: center;
}

.compose a{
    color: #ffffff;
    margin: 15px;
    padding: 10px;
    height: 30px;
    background-color: rgba(60, 14, 230, 0.904);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;

}

.menu-list ul li{
    display: block;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.menu-list ul li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.menu-list ul li a:hover {
    opacity: 0.5;
    border-bottom: 1px solid #893168;
}

.menu-list ul li a:active {
    opacity: 0.5;
    border-bottom: 1px solid #893168;
}


.content {
    color: black;
    grid-column: 2 / -1;
}

.footer {
    color: brown;
    grid-column: 1 / -1;
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
}

.copyright {
    margin-top: 10px;
}


/* Profile Page */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: auto;
    text-align: center;
  }

  .card>img {
      width: 60%;
      border-radius: 25%;
  }

  .card>form {
      margin-top: 10px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #893168;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  /* Modal style */
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 30%;
    top: 30%;
    width: 60%; 
    height: 50%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
    
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-500px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    color: white;
  }
  
  .form-box {
    padding: 40px;
    margin: 0 auto;
    width: 70%;
    color: #2892D7;
}

.btn {
    background-color: rgba(60, 14, 230, 0.904);
    padding: 10px;
    color: #ffffff;
    border-radius: 15px;
    width: 25%;
}

.btn:hover {
    background-color: rgba(60, 14, 230, 0.904);
    color: #ffffff;
  }

  .button:active {
    opacity: 0.5;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    /* border-radius: 5px; */
    box-shadow: none;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 4px;
}

/* inbox section */
.inbox-container {
    margin: 0 auto;
}

.inbox-container>ul {
    list-style-type: none;
}

.inbox-container>ul>li {
    line-height: 40px;
}

/* messages section */
.message-container {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.message-container>h2 {
    margin-bottom: 10px;
}

/* Draft Messages */
.draft-btn {
    display: none;
    background-color: rgba(60, 14, 230, 0.904);
    padding: 6px;
    color: #ffffff;
    border-radius: 15px;
    width: 80px;
    height: 30px;
    margin-left: 80px;
}

.inbox-container>ul>li:hover>button {
    display: inline;
}
