* {
    margin: 0;
    font-family: Arial, Helvetica,sans-serif;
}

.form-container {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;

}

.form-box {
    padding: 40px;
    margin: 0 auto;
    width: 70%;
    color: #2892D7;
}

.form-title {
    margin-bottom: 30px;
    color: #2892D7;
}

h2 {
    color: #2892D7
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    /* border-radius: 5px; */
    box-shadow: none;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 4px;
}
.header {
    display: inline-block;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    color: #2892D7;
    margin-bottom: 10px;
    justify-content: space-around;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    color: #2892D7;
}

.signin {
    float: right;
    text-decoration: none;
    margin: 20px;
    color: #2892D7;
}

.signin:hover {
    background: transparent;
    color: #ffffff;
    background-color: rgba(60, 14, 230, 0.904);
    border-radius: 15px;
    padding: 10px;
}

.btn {
    background-color: rgba(60, 14, 230, 0.904);
    padding: 10px;
    color: #ffffff;
    border-radius: 15px;
}

.btn:hover {
    background: transparent;
    color: #2892D7;
  }
  .button:active {
    opacity: 0.5;
  }

footer {
    margin-top: 50px;
    text-align: center;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
}

.copyright {
    margin-top: 10px;
}